## HELLO WORLD, VARIABLE NAMING, PYTHON_NUMBERS,                                                        ARITHMETIC OPERATORS, INPUTS

### Print Helloworld

In [3]:
print("Hello")
print("Hello")
10

Hello
Hello

10

### Variables

In [2]:
a = 10
b = 20

sum = a + b
abc = 10
print('sum')
print(abc)

sum
10

### Variable naming

You cant start with digits

In [5]:
ab_c1 = 10
_ss = 2
#12cd = 20

### assigning different type of data to a variable

In [4]:
a = 10
a = 20
a = "hthths"
a

'hthths'

In [5]:
a = "abc"
print(type(a))
a = 10
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [6]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

4408211792
4408211824

11

In [8]:
a = 100
b = 100
print(id(a))
print(id(b))

4408214672
4408214672

In [9]:
a = 1000
b = 1000
print(id(a))
print(id(b))

4451321264
4451321808

### Arithmatic Operators

In [10]:
a = 10
b = 4
print(a - b)
print(a + b)

6
14

In [11]:
a * b

40

In [12]:
a / b # floating point division

2.5

In [13]:
a//b # integer division

2

In [14]:
a**b # exponentiation

10000

In [15]:
a % b

2

In [16]:
2 + 3 * 4 # 14 or 20

14

In [17]:
2 * 3 / 4 # doesn't matter what operation is done first

1.5

In [1]:
(2 * 3) // 4

1

In [1]:
#Given an integer n, find and print the sum of numbers from 1 to n.
n = int(input())
Sum = 0
i = 1

while i<=n :
    Sum = Sum + i
    i = i + 1
print(Sum)

10
55

In [6]:
#Given a number N, print sum of all even numbers from 1 to N.
n = int(input())
Sum = 0
i = 0

while i<=n :
    if i%2 == 0:
        Sum = Sum + i
        i = i + 1
    else:
        i = i + 1
   
print(Sum)

6
12

In [19]:
# simple interest to lower integer
p = 100
r = 12
t = 2
# si = p * r * t // 100
#si = t//100 * r * p
si = (p * r * t)//100
si

24

In [3]:
# fah to celcius conversion
f = 100
c = (f - 32) * 5/9
print(c)
ci = (f - 32) * 5//9
print(ci)

37.77777777777778
37

### input

In [40]:
a = float(input())
type(a)

#b =  '34'
#c = int(b)
#c

3.4

float

In [6]:
s = "4.5"
print(type(s))
print(float(s))

<class 'str'>
4.5

In [39]:
# adding two numbers
a = int(input())
b = int(input())
print(type(a))
s = a + b
print(s)

23
34
<class 'int'>
57