### Create a List

In [1]:
li = []

In [2]:
li = [1,2,3]

In [4]:
type(li)

list

In [6]:
li = [1,2,]

In [8]:
li = [1,2,]

In [2]:
li = [1,2,"James", 3,4]

In [4]:
li

[1, 2, 'James', 3, 4]

### Access and Change Elements in List ( through Indexing )

In [68]:
li[0]

1

In [69]:
li[1]

2

In [70]:
li[3]

3

In [71]:
li[2]

'James'

In [72]:
li[4]

4

In [24]:
li[5]

IndexError: list index out of range

In [125]:
li[0] = 5

In [74]:
li

[5, 2, 'James', 3, 4]

In [126]:
li[3] = "Rohan"

In [127]:
li

[5, 2, 'James', 'Rohan', 4]

In [77]:
li[5] = 9

IndexError: list assignment index out of range

### Slicing of a List

In [5]:
li[1:3]

[2, 'James']

In [79]:
li

[5, 2, 'James', 'Rohan', 4]

In [80]:
li[1:]

[2, 'James', 'Rohan', 4]

In [81]:
li[:]

[5, 2, 'James', 'Rohan', 4]

In [82]:
li[1:10]

[2, 'James', 'Rohan', 4]

### Insert And Append Elements in List

.insert() - it inserts an element at a particular index, if index not present then it inserts at the last. <br>
.append() - it automatically append the element in the last. <br>
.extend() - used when we want to insert multiple elements in the list in the last.

In [129]:
li.append("Ankush")

In [130]:
li

[5, 2, 'James', 'Rohan', 4, 'Ankush']

In [131]:
li.insert(1,)

TypeError: insert() takes exactly 2 arguments (1 given)

In [132]:
#insert 7 at 1st index
li.insert(1,7)

In [133]:
li

[5, 7, 2, 'James', 'Rohan', 4, 'Ankush']

In [134]:
li.insert(6,10)

In [135]:
li

[5, 7, 2, 'James', 'Rohan', 4, 10, 'Ankush']

In [136]:
li.insert(9,"Karan")

In [137]:
li

[5, 7, 2, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan']

In [138]:
#list under list
li.append([9,10,11])

In [139]:
li

[5, 7, 2, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11]]

In [140]:
#add multiple elements to the list
li.extend([9,10,11])

In [142]:
li

[5, 7, 2, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

### Removing Elements from the List

In [171]:
li = [5, 7, 2, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

In [172]:
li.remove(2)

In [173]:
li

[5, 7, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

In [174]:
li.append(5)

In [175]:
li

[5, 7, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [176]:
li.remove(5)

In [177]:
li

[7, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [178]:
li.remove(6)

ValueError: list.remove(x): x not in list

In [179]:
li.pop() #remove from the last

5

In [180]:
li

[7, 'James', 'Rohan', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9, 10, 11]

In [181]:
li.pop()

11

In [182]:
li.pop()

10

In [183]:
li.pop(2)

'Rohan'

In [184]:
li

[7, 'James', 4, 10, 'Ankush', 'Karan', [9, 10, 11], 9]

In [185]:
li.pop(18)

IndexError: pop index out of range

In [186]:
li.pop(4)

'Ankush'

In [187]:
li

[7, 'James', 4, 10, 'Karan', [9, 10, 11], 9]

In [188]:
len(li)

7

# ASSIGNMENT

In [191]:
li =['abcd','def']
li.insert(4,5)
print(li)

['abcd', 'def', 5]

In [194]:
li = ['abcd',5,'def',5]
li.remove(5)
print(li)

['abcd', 'def', 5]

In [195]:
li = [5,2,6,8]
li.pop(2)
print(li)

[5, 2, 8]