## Line Seperated Input Of List
If inputs are separated by line

In [5]:
#Input bydefault convert our input into string
n = input()

5

In [6]:
n

'5'

In [1]:
#if we want integer part 
n = int(input())

5

In [9]:
n

5

In [3]:
li = [] #empty list
for i in range(n):
    curr = int(input())
    li.append(curr)
    print(li)

1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
5
[1, 2, 3, 4, 5]

In [12]:
li

[2, 3, 5, 7, 9]

In [15]:
for ele in li:
    print(ele)

2
3
5
7
9

In [16]:
#Stores the number as a string in the list
n = int(input())
li = []
for i in range(n):
    li.append(input())
print(li)

5
1
2
3
4
5
['1', '2', '3', '4', '5']

#### But in CodeZen, there are space separated inputs !!

## Space Separated Input Of List <br> <br>( In Code Zen ) <br>
.split('Delimiter') <br>
Splitting on the basis of comma or spaces <br>
if not specified any delimiter..then it will split on the basis of space! <br>

n = int(input()) <br>
li = [int(x) for x in input().split()] <br>
for ele in li: <br>
    print(ele)

In [4]:
n = int(input())

5

In [9]:
str = input()

1 2 3 4 5

In [10]:
str

'1 2 3 4 5'

In [23]:
li = []

In [11]:
#splitting the string on a particular Delimiter 
#in this case - space
str_split = str.split(' ')

In [12]:
str_split

['1', '2', '3', '4', '5']

In [36]:
str = input()

1,2,3,4,5

In [37]:
#splitting on the basis of comma
str_split = str.split(',')

In [38]:
str_split

['1', '2', '3', '4', '5']

In [39]:
str = input()

1 2 3 4 5

In [41]:
#by default it will split on the basis of space!
str_split = str.split()

In [42]:
str_split

['1', '2', '3', '4', '5']

In [48]:
li = []

In [49]:
for ele in str_split:
    li.append(int(ele))

In [50]:
li

[1, 2, 3, 4, 5]

In [53]:
li = [int(x) for x in input().split()]

1 2 3 4 5

In [55]:
li

[1, 2, 3, 4, 5]

In [57]:
for ele in li:
    print(ele)

1
2
3
4
5

In [66]:
#space separated input
n = int(input())
li = [int(x) for x in input().split()]
for ele in li:
    print(ele)
li

5
1 2 3 4 5
1
2
3
4
5

[1, 2, 3, 4, 5]

In [61]:
#1 3 6 8 9
li = [x for x in input().split()]
print(li)

1 3 6 8 9
['1', '3', '6', '8', '9']